/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 64px;
    border-radius: 5px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 32px;
}

nav ul li a:hover {
    background-color: #555;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

/* Main content styles */
main {
    padding: 20px;
}

.new-releases,
.genre-section {
    margin-bottom: 30px;
}

.book-carousel,
.genre-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.see-more {
    text-align: center;
    margin-top: 20px;
}

.see-more a {
    color: #333;
    text-decoration: none;
    background-color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 5px;
}

.see-more a:hover {
    background-color: #d0d0d0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    nav ul.show {
        display: flex;
    }
}